.metronome-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Behind controls but above background */
    background: transparent;
    pointer-events: none;
    overflow: hidden;
}

.metronome-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, var(--color-mode-work) 0%, var(--color-mode-work-dim) 100%);
    will-change: height;
}